.FixedHeightContainer {
    float:right;
    height: 50px;
    width:50px; 
    padding:10px;
  }
  
  .outer {
    position: relative;
  }
  
  .inner {
    position: absolute;
    top: 50%;
    height: 6em;
    margin-top: -3em;
  }
  
  /** Style for demonstration purpose only **/
  
  .outer {
    border: 1px solid green;
    height: 120px;
  }
  
  .inner {
    border: 1px solid red;
    width: 100%;
  }

div.ext-box { display: table;height: 120px; }
div.int-box { display: table-cell; vertical-align: middle; }