<!-- Footer -->
<footer id="footer" class="section">

  <!-- container -->
  <div class="container">
  
    <!-- row -->
    <div class="row">
  
        <!-- footer logo -->
        <div class="col-md-2">
          <div class="">
            <a class="logo" href="index.html">
              <img src="assets/rotmunlogo7.png" alt="logo">
            </a>
          </div>
        </div>
        <div class="col-md-2">
          <strong><p>Contact:</p><p>+92 321 8717081</p><p>Uwais Parekh</p>
            <p>Under Secretary General</p><p>rotmun2018@gmail.com</p></strong>
        </div>
        <div class="col-md-2">
          <strong><p>Contact:</p><p>+92 302 2532413</p><p>Maheen Naveed</p>
            <p>Under Secretary General</p></strong>
        </div>
        <div class="col-md-2">
          <strong><p>Payments:</p><p>+92 343 0215584</p><p>Zain Amir</p>
            <p>CFO</p></strong>
        </div>
        <div class="col-md-2">
          <strong><p>Contact:</p><p>+92 347 1231645</p><p>Ali Ahmed</p>
            <p>Vice President</p></strong>
        </div>
        <!-- footer logo -->

        <!-- footer nav -->
        <!-- <div class="col-md-6">
          <ul class="footer-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div> -->
        <!-- /footer nav -->
        <!-- social -->
        <div class="col-md-2 ext-box">
            <ul class="footer-social int-box">
              <li><a href="https://www.facebook.com/rotmunkhi/" class="facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.instagram.com/rotmun.official/" class="instagram"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
          <!-- /social -->
      <!-- /row -->
      </div>
      <!-- row -->
      <div id="bottom-footer" class="row">
  
        <!-- social -->
        <div class="col-md-4 col-md-push-8">
          <!-- <ul class="footer-social">
            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#" class="youtube"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
          </ul> -->
        </div>
        <!-- /social -->
  
        <!-- copyright -->
        <div class="col-md-8 col-md-pull-4">
          <div class="footer-copyright">
            <span>&copy; Copyright 2018. This website was made real quick by <a href="https://www.facebook.com/OmerFA">Omer Farooq Ahmed</a><br>
              &copy; Copyright 2018. All Rights Reserved. | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com">Colorlib</a></span>
          </div>
        </div>
        <!-- /copyright -->
  
      </div>
      <!-- row -->
  
  </div>
  <!-- /container -->
  
</footer>
<!-- /Footer -->