<app-navbar></app-navbar>
<!-- Hero-area -->
<div class="hero-area section">

        <!-- Backgound Image -->
        <div class="bg-image bg-parallax overlay" style="background-image:url(../../assets/ibacity.jpg)"></div>
        <!-- /Backgound Image -->

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                        <h1 class="yellow-text"><strong>Committees</strong></h1>
                    <div class="container demo">

    
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <i class="more-less glyphicon glyphicon-plus"></i>
                                            Disarmament and International Security Committee (DISEC)
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-4 fit">
                                                    <img src="../../assets/img/disec.jpg" alt="disec">
                                            </div>
                                            <div class="col-sm-8">
                                                    <p>
                                                            The Disarmament and International Security Committee (DISEC) is the first committee of United Nations General Assembly. DISEC deals with disarmament, global challenges and threats to peace that affect the international community and seeks out solutions to the challenges in the international security regime.
                                                        </p>
                
                                                        <p>
                                                            It considers all disarmament and international security matters within the scope of the United Nations Charter or relating to the powers and functions of any other organ of the United Nations; the general principles of cooperation in the maintenance of international peace and security, as well as principles governing disarmament and the regulation of armaments; promotion of cooperative arrangements and measures aimed at strengthening stability through lower levels of armaments.
                                                        </p>
                                                <br><br><h3>Committee Topic:<br><br>The Proliferation of Small and Light Arms and Weapons</h3>
                                                <br><a class="btn btn-primary" href='../../assets/documents/DISEC Study Guide.pdf' target='_blank'><h4 class="study-guide">Study Guide</h4></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            <i class="more-less glyphicon glyphicon-plus"></i>
                                            Social, Cultural and Humanitarian Committee (SOCHUM)
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                            <div class="row">
                                                    <div class="col-sm-4 fit">
                                                            <img src="../../assets/img/sochum.jpg" alt="disec">
                                                    </div>
                                                    <div class="col-sm-8">
                                                            The Social, Cultural and Humanitarian Committee (SOCHUM) is the third committee of the United Nations General Assembly. Agenda items relating to a range of social, humanitarian affairs and human rights issues that affect people all over the world, are allocated to SOCHUM.
                                                            SOCHUM also discusses questions relating to the advancement of women, the protection of children, indigenous issues, the treatment of refugees, the promotion of fundamental freedoms through the elimination of racism and racial discrimination, and the right to self- determination.  The Committee also addresses important social development questions such as issues related to youth, family, ageing, persons with disabilities, crime prevention, criminal justice, and international drug control.
                                                    <br><br><h3>Committee Topic:<br><br>The Rights of Indigenous Peoples</h3>
                                                    <br><a class="btn btn-primary" href='../../assets/documents/SOCHUM Study Guide.pdf' target='_blank'><h4 class="study-guide">Study Guide</h4></a>
                                                    </div>
                                                </div>
                                        
                                    </div>
                                </div>
                            </div>
                    
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            <i class="more-less glyphicon glyphicon-plus"></i>
                                            Special, Political and Decolonization Committee (SPECPOL)
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                            <div class="row">
                                                    <div class="col-sm-4 fit">
                                                            <img src="../../assets/img/specpol.jpg" alt="disec">
                                                    </div>
                                                    <div class="col-sm-8">
                                                            The Special, Political and Decolonization Committee (SPECPOL) is the fourth committee of the United Nations General Assembly. the main objective of SPECPOL addressing significant political matters that the First Committee (DISEC) was not able to handle, such as self-determination, decolonization and other international security concerns. Later, SPECPOL was given other topics to address and a broader overall scope due to its success in addressing the Palestine Question
                                        SPECPOL considers a broad range of issues covering a cluster of five decolonization-related agenda items, the effects of atomic radiation, questions relating to information, a comprehensive review of the question of peacekeeping operations as well as a review of special political missions, the United Nations Relief and Works Agency for Palestinian Refugees in the Near East (UNRWA), the Report of the Special Committee on Israeli Practices and International cooperation in the peaceful uses of outer space. In addition to these annual items, the Committee also considers the items on Assistance in mine action, and University for peace biennially and triennially respectively.
                                        <br><br><h3>Committee Topic:<br><br>The Status of 21st Century Colonies and Special Territories</h3>
                                        <br><a class="btn btn-primary" href='../../assets/documents/SPECPOL Study Guide.pdf' target='_blank'><h4 class="study-guide">Study Guide</h4></a>
                                                    </div>
                                                </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFour">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            <i class="more-less glyphicon glyphicon-plus"></i>
                                            United Nations Educational, Scientific and Cultural Organization (UNESCO)
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                    <div class="panel-body">
                                            <div class="row">
                                                    <div class="col-sm-4 fit">
                                                            <img src="../../assets/img/unesco.jpg" alt="disec">
                                                    </div>
                                                    <div class="col-sm-8">
                                                            <p>
                                                                    The United Nations Educational, Scientific and Cultural Organization (UNESCO) seeks to build peace through international cooperation in Education, the Sciences and Culture. Its declared purpose is to contribute to peace and security by promoting international collaboration through educational, scientific, and cultural reforms in order to increase universal respect for justice, the rule of law, and human rights along with fundamental freedom proclaimed in the United Nations Charter. It is the successor of the League of Nations' International Committee on Intellectual Cooperation.
                                                                </p> 
                                                                <p>
                                                                    UNESCO pursues its objectives through five major programs: education, natural sciences, social/human sciences, culture and communication/information. Projects sponsored by UNESCO include literacy, technical, and teacher-training programs, international science programs, the promotion of independent media and freedom of the press, regional and cultural history projects, the promotion of cultural diversity, translations of world literature, international cooperation agreements to secure the world's cultural and natural heritage (World Heritage sites) and to preserve human rights, and attempts to bridge the worldwide digital divide.
                                                                </p>
                                                        <br><br><h3>Committee Topic:<br><br>Innovations in Education</h3>
                                                        <br><a class="btn btn-primary" href='../../assets/documents/UNESCO Study Guide.pdf' target='_blank'><h4 class="study-guide">Study Guide</h4></a>
                                                    </div>
                                                </div>
                                       
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFive">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                            <i class="more-less glyphicon glyphicon-plus"></i>
                                            Prime Minister Imran Khan’s Cabinet - 2018
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                    <div class="panel-body">
                                            <div class="row">
                                                    <div class="col-sm-4 fit">
                                                            <img src="../../assets/img/cabinet.jpg" alt="disec">
                                                    </div>
                                                    <div class="col-sm-8">
                                                            <p>
                                                                    “There shall be a Cabinet of Ministers, with the Prime Minister at its head, to aid and advise the President in the exercise of his functions. The Cabinet, together with the Ministers of State, shall be collectively responsible to the Senate and the National Assembly. A Minister who for any period of six consecutive months is not a member of the National Assembly shall, at the expiration of that period, cease to be a Minister and shall not before the dissolution of that Assembly be again appointed a Minister unless he is elected a member of that Assembly: Provided that nothing in this clause shall apply to a Minister who is a member of the Senate. Provided that the number of Federal Ministers and Ministers of State who are members of the Senate shall not at any time exceed one-fourth of the number of Federal Ministers”
                                                                </p>
                                                                <p>
                                                                    — Article 81C-96D: The Federation of Pakistan; Part-III, Chapter 3:    Federal Government, The Constitution of Pakistan
                                                                </p>
                        
                                                                <p>
                                                                    Imran Ahmed Khan Niazi, the 22nd Prime Minister of the Islamic Republic of Pakistan has a 21 member cabinet, consisting of 16 individuals who have been granted the portfolio of a minister while 5 others will perform their duties as advisers to the premier.
                                                                </p>
                        
                                                                <p>
                                                                    Imran Khan and his cabinet face a myriad of challenges including militant extremism, water shortages, and a rapidly growing population negating growth in the developing country, a chronic energy crisis which the country has been plagued by for years, among others. The most pressing of which is a looming economic crisis, with speculation that Pakistan will have to seek a bailout from the International Monetary Fund.
                                                                </p>
                        
                                                                <p>
                                                                    Yet, the PTI has secured the positions of Speaker and Deputy Speaker in the National Assembly, putting the Cabinet in a strong position to act on his legislative agenda.
                                                                </p>
                                                                <br><br><h3>Committee Topic:<br><br>Implementation of the Prime Minister's 100 Day Plan</h3>
                                                                <br><a class="btn btn-primary" href="../../assets/documents/Letter from the Prime Minister.pdf" target="_blank"><h4 class="study-guide">Study Guide</h4></a>
                                                    </div>
                                                </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingSix">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                            <i class="more-less glyphicon glyphicon-plus"></i>
                                            United Nations Commission on the Status of Women (UNCSW)
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                                    <div class="panel-body">
                                            <div class="row">
                                                    <div class="col-sm-4 fit">
                                                            <img src="../../assets/img/uncsw.jpg" alt="disec">
                                                    </div>
                                                    <div class="col-sm-8">
                                                            <p>
                                                                    The Commission on the Status of Women is a functional commission of the Economic and Social Council (ECOSOC) and is the body most instrumental in the United Nation's work in the area of women's issues. It's agenda includes the advancement of women's rights in the domains of politics, industry, society, social welfare and education, documenting and reporting on the reality of conditions faced by women across the world, and setting global benchmarks on gender equality and female empowerment. 
                                                                </p>
                                                        <br><br><h3>Committee Topic:<br><br>The Reproductive Health and Rights of Women</h3>
                                                        <br><a class="btn btn-primary" href="../../assets/documents/UNCSW Study Guide.pdf" target="_blank"><h4 class="study-guide">Study Guide</h4></a>
                                                    </div>
                                                </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingSeven">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                            <i class="more-less glyphicon glyphicon-plus"></i>
                                            United Nations Security Council (UNSC)
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                                    <div class="panel-body">
                                            <div class="row">
                                                    <div class="col-sm-4 fit">
                                                            <img src="../../assets/img/unsc.jpg" alt="disec">
                                                    </div>
                                                    <div class="col-sm-8">
                                                            <p>
                                                                    The Security Council is the United Nation's first line of defence to global crises. It's members meet to determine threats to international security; tackling concerns of civil wars, natural disasters, arms control and terrorism through binding resolutions that may call for imposing sanctions, dispatching military operations, mandating arms inspections, deploying election monitors and more. The membership for 2018 includes China, USA, Russian Federation, UK, France, Kazakhstan, Kuwait, Netherlands, Peru, Poland, Ethiopia, Cote d'Ivor, Equatorial Guinea, Ethiopia and Sweden. 
                                                                </p>
                                                        
                                                        <br><br><h3>Committee Topic:<br><br> Conflict and Security in Iraq, Syria, Israel and Palestine</h3>
                                                        <br><a class="btn btn-primary" href='../../assets/documents/UNSC Study Guide.pdf' target='_blank'><h4 class="study-guide">Study Guide</h4></a>
                                                    </div>
                                                </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingEight">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                            <i class="more-less glyphicon glyphicon-plus"></i>
                                            Historic Corporate Committee - The Great Depression 1929
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                                    <div class="panel-body">
                                            <div class="row">
                                                    <div class="col-sm-4 fit">
                                                            <img src="../../assets/img/hcc.jpg" alt="disec">
                                                    </div>
                                                    <div class="col-sm-8">
                                                            <p>
                                                                    A Special Summit of Economists and Policy-makers summoned by the POTUS, this committee will function to assess and plan for the future of economic security in light of the Great Depression. In this fast-paced atmosphere, perpetuated by the stock market crash, severe unemployment and acute deflation, delegates will have to be creative and quick-thinking to manouver economic and social policy during a phenomenon deemed the harshest adversity faced by the Americans since the Civil War.
                                                                </p>
                                                        <br><br><h3>Committee Topic:<br><br>A Summit on Countering and Preventing Financial Crises</h3>
                                                    </div>
                                                </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingNine">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                            <i class="more-less glyphicon glyphicon-plus"></i>
                                            International Atomic Energy Agency (IAEA)
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                                    <div class="panel-body">
                                            <div class="row">
                                                    <div class="col-sm-4 fit">
                                                            <img src="../../assets/img/iaea.jpg" alt="disec">
                                                    </div>
                                                    <div class="col-sm-8">
                                                            <p>
                                                                    The International Atomic Energy Agency acts as an independent, intergovernmental forum within the UN for cooperation on a scientific and technical level in the peaceful use of nuclear energy. It's agenda includes promoting and assisting research, development and application of the peaceful uses of atomic energy, creating and administering safeguards that ensure that activities by the organisation are not used to assist any military agenda, and more.
                                                                </p>
                                                        <br><br><h3>Committee Topic:<br><br>Fire and Fury: The Future of Nuclear Disarmament in Iran and North Korea</h3>
                                                        <br><a class="btn btn-primary" href="../../assets/documents/IAEA Study Guide.pdf" target="_blank"><h4 class="study-guide">Study Guide</h4></a>
                                                    </div>
                                                </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTen">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                            <i class="more-less glyphicon glyphicon-plus"></i>
                                            Committee on the Peaceful Uses of Outer Space (COPUOS)
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                                    <div class="panel-body">
                                            <div class="row">
                                                    <div class="col-sm-4 fit">
                                                            <img src="../../assets/img/copuos.jpg" alt="disec">
                                                    </div>
                                                    <div class="col-sm-8">
                                                            <p>
                                                                    The Committee on the Peaceful Uses of Outer Space is a member of the General Assembly and reports to the Fourth Committee of the GA (SPECPOL). It serves to govern the exploration and use of space in the areas of promoting peace, security and development. It functions to assess and encourage international cooperation in peaceful uses of outer space, study space-related initiatives by the United Nations, promote space research programmes and study and assess the legal problems of space exploration.
                                                            </p>
                                                    <br><br><h3>Committee Topic:<br><br>The Weaponization and Colonization of Outer Space</h3>
                                                    <br><a class="btn btn-primary" href='../../assets/documents/COPOUS Study Guide.pdf' target='_blank'><h4 class="study-guide">Study Guide</h4></a>
                                                    </div>
                                                </div>
                                    </div>
                                </div>
                            </div>
                    
                        </div><!-- panel-group -->
                        
                        
                    </div><!-- container -->
                </div>
            </div>
        </div>

    </div>
    <!-- /Hero-area -->
<app-footer></app-footer>
<!-- preloader -->
<div id='preloader'><div class='preloader'></div></div>
<!-- /preloader -->