<app-navbar></app-navbar>
<!-- Hero-area -->
<div class="hero-area section">

        <!-- Backgound Image -->
        <div class="bg-image bg-parallax overlay" style="background-image:url(../../assets/ibacity.jpg)"></div>
        <!-- /Backgound Image -->

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <h1 class="white-text">About Us</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 col-sm-12" style="color: white; text-align: justify;">
                    <p><strong>Model United Nations Conferences are Simulations of the United Nations. 
                        At Model UNs, students where roleplay as International Policymakers, 
                        Leaders & Diplomats to devise ideas to resolve crucial problems that 
                        plague the globe, like Inter-Border Politics and Humanitarian Rights. 
                        The activity gives them a glimpse into real world politics and a chance 
                        to uncover how they operate, essentially making them aware of their Social 
                        Responsibility as a Global Citizen.</strong></p> 
 
                    <p><strong>Rotaract Model United Nations, was inaugurated in 2009 to honor the 
                        consolidated efforts of the United Nations and Rotary International. 
                        It has since, year in and year out been operating at the highest echelon 
                        amongst Model UNs; with an amalgamation of the country's most talented 
                        individuals in attendance.</strong></p>  
                         
                    <p><strong>Rotaract Model United Nations has served for almost a Decade, the benchmark 
                        for Model UNs within the Country. Every year, Rotaract Model United Nations 
                        caters to Individuals and Institutions alike across the nation as a Platform 
                        to engage in Rhetoric and Discourse with regards to current and pressing 
                        issues present within the World. ROTMUN 2018, after nearly a decade of 
                        auspicious and illustrious Iterations, each having solidified ROTMUN as the 
                        quintessential Model UN currently functioning, offers prodigious academic value 
                        to its participating representatives as well as an opportunity to partake in 
                        cognizant dialogue for all involved.</strong></p> 
                         
                    <p><strong>With a Promise to serve as the greatest Iteration of Rotaract Model United 
                        Nations to date, ROTMUN 2018 promises to be the Standard, with its selection 
                        of Committees, the Veteran Model UN Experts of the years and the with a 
                        resounding Social Responsibility Program geared towards bringing about actual 
                        change.</strong></p> 
                         
                    <p><strong>ROTMUN 2018, is scheduled to be at IBA City Campus, Karachi from Thursday, 11th 
                        October to Sunday, 14th October 2018. At this year’s Iteration ROTMUN is expecting 
                        participation from across the Nation, to continue its legacy of being the go to 
                        platform for the best Debating & Public Speaking Societies and Programs across the board.</strong></p>
                </div>
            </div>
        </div>

    </div>
    <!-- /Hero-area -->
<app-footer></app-footer>
<!-- preloader -->
<div id='preloader'><div class='preloader'></div></div>
<!-- /preloader -->
