<!-- Header -->
<header id="header" [ngClass]="{'transparent-nav': !mobileView, 'nav-collapse': mobileView}">
    <div class="container">
  
      <div class="navbar-header">
        <!-- Logo -->
        <div class="navbar-brand">
          <a class="logo" href="index.html">
            <img src="assets/rotmunlogo.png" alt="logo">
          </a>
        </div>
        <!-- /Logo -->
  
        <!-- Mobile toggle -->
        <button class="navbar-toggle" (click)="showSidebar()">
          <span></span>
        </button>
        <!-- /Mobile toggle -->
      </div>
  
      <!-- Navigation -->
      <nav id="nav">
        <ul class="main-menu nav navbar-nav navbar-right">
          <li><a routerLink="/home">Rotmun</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/register">Register</a></li>
          <li><a routerLink="/team">Team</a></li>
          <li><a routerLink="/committees">Committees</a></li>
          <li><a routerLink="/conference">Conference</a></li>
        </ul>
      </nav>
      <!-- /Navigation -->
  
    </div>
  </header>
  <!-- /Header -->