<app-navbar></app-navbar>
<!-- Hero-area -->
<div class="hero-area section">

        <!-- Backgound Image -->
        <div class="bg-image bg-parallax overlay" style="background-image:url(../../assets/ibacity.jpg)"></div>
        <!-- /Backgound Image -->

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <h1 class="white-text">Conference material</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <h3 class="white-text">Important Documents</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 col-sm-12" style="text-align: center;">
                    <a href="../../assets/documents/Rotaract Model United Nations 2018 - How To Research.pdf" target="_blank" class="btn-doc"><span>How to Research</span></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 col-sm-12" style="text-align: center;">
                    <a href="../../assets/documents/Rotaract Model United Nations 2018 - Identifying Foreign Policy Objectives - Effective Research.pdf" target="_blank" class="btn-doc"><span>Identifying Foreign Policy Objectives</span></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 col-sm-12" style="text-align: center;">
                    <a href="../../assets/documents/Rotaract Model United Nations 2018 - The Key To Success.pdf" target="_blank" class="btn-doc"><span>The Key To Success</span></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 col-sm-12" style="text-align: center;">
                    <a href="../../assets/documents/Rotaract Model United Nations 2018 - Waiver of Liability.pdf" target="_blank" class="btn-doc"><span>Waiver of Liability</span></a>
                </div>
            </div>
        </div>

    </div>
    <!-- /Hero-area -->
<app-footer></app-footer>
<!-- preloader -->
<div id='preloader'><div class='preloader'></div></div>
<!-- /preloader -->
