<app-navbar></app-navbar>
<!-- Hero-area -->
<div class="hero-area section">

        <!-- Backgound Image -->
        <div class="bg-image bg-parallax overlay" style="background-image:url(../../assets/ibacity.jpg)"></div>
        <!-- /Backgound Image -->

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <h1 class="white-text">Meet the team!</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img src="../../assets/img/team/parekh.png" alt="parekh">
                </div>
                <div class="col-sm-4">
                    <img src="../../assets/img/team/maheen.png" alt="maheen">
                </div>
                <div class="col-sm-4">
                        <img src="../../assets/img/team/shahryar.png" alt="shahryar">
                    </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img src="../../assets/img/team/arwa.png" alt="arwa">
                </div>
                <div class="col-sm-4">
                    <img src="../../assets/img/team/fatima.png" alt="fatima">
                </div>
                <div class="col-sm-4">
                    <img src="../../assets/img/team/subboh.png" alt="subboh">
                </div>
            </div>
            <div class="row">
                    <div class="col-sm-4">
                        <img src="../../assets/img/team/hammad.png" alt="hammad">
                    </div>
                    <div class="col-sm-4">
                        <img src="../../assets/img/team/ibadullah.jpg" alt="ibadullah">
                    </div>
                    <div class="col-sm-4">
                        <img src="../../assets/img/team/owais.png" alt="owais">
                    </div>
                </div>
            <div class="row">
                <div class="col-sm-4">
                    <img src="../../assets/img/team/rabia.png" alt="rabia">
                </div>
                <div class="col-sm-4">
                    <img src="../../assets/img/team/mustafa.png" alt="mustafa">
                </div>
            </div>    
        </div>

    </div>
    <!-- /Hero-area -->
<app-footer></app-footer>
<!-- preloader -->
<div id='preloader'><div class='preloader'></div></div>
<!-- /preloader -->
