<app-navbar></app-navbar>
<!-- Home -->
<div id="home" class="hero-area">

  <!-- Backgound Image -->
  <div class="bg-image bg-parallax overlay" style="background-image:url('../../assets/ibacity.jpg')"></div>
  <!-- /Backgound Image -->

  <div class="home-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-4 animated fadeInDown"> 
          <!-- <h1 class="white-text">Edusite Free Online Training Courses</h1>
          <p class="lead white-text">Libris vivendo eloquentiam ex ius, nec id splendide abhorreant, eu pro alii error homero.</p> -->
          <img src="../../assets/rotmunlogo5.png" alt="logo" class="img-responsive">
          <!-- <a class="main-button icon-button" href="#">Get Started!</a> -->
        </div>
      </div>
      <div class="row" class="animated fadeInRight">
        <div class="col-md-4"></div>
        <div class="col-md-6" style="text-align: center">
            <h3 class="white-text">Rotaract Model United Nations 2018</h3>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- /Home -->

<!-- About -->
<div id="about" class="section">

  <!-- container -->
  <div class="container">

    <!-- row -->
    <div class="row">

      <div class="col-md-12" #test [ngClass]="{'col-md-6 animated pulse': showAnimation, 'col-md-6': !showAnimation}">
        <div class="section-header">
          <h2>Welcome to ROTMUN 2018</h2>
          <!-- <p class="lead">Secretary General's address.</p> -->
        </div>

        <!-- feature -->
        <div class="feature">
          <i class="feature-icon fa fa-users"></i>
          <div class="feature-content">
            <h4>ROTMUN Executive Council</h4>
            <p>Meet this year's team</p>
          </div>
        </div>
        <!-- /feature -->
      </div>


    </div>
    <!-- row -->

    <!-- executive council images-->
    <div class="row">
      <div [ngClass]="{'col-md-4 invisible': !showAlina, 'col-md-4 visible': showAlina}" style="height:550px;">
        <div [ngClass]="{'animated fadeInLeft': showAlina}" #alina>
          <div class="about-img" style="width: 300px; height: 300px;">
            <img src="assets/alina2.png" alt="alina">
          </div>
        </div>
      </div>
      <div [ngClass]="{'col-md-4 invisible': !showHebah, 'col-md-4 visible': showHebah}" style="height:550px;">
        <div [ngClass]="{'animated fadeInLeft': showHebah}" #hebah>
          <div class="about-img" style="width: 300px; height: 300px;">
            <img src="assets/hebah.png" alt="hebah">
          </div>
        </div>
      </div>
      <div [ngClass]="{'col-md-4 invisible': !showShariq, 'col-md-4 visible': showShariq}" style="height:550px;">
        <div [ngClass]="{'animated fadeInLeft': showShariq}" #pres>
          <div class="about-img">
            <img src="assets/shariq.jpg" alt="shariq" style="height: 437px; width: 300px;">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div [ngClass]="{'col-md-4 invisible': !showAli, 'col-md-4 visible': showAli}" style="height:550px;">
        <div [ngClass]="{'animated fadeInLeft': showAli}" #ali>
          <div class="about-img" style="width: 300px; height: 300px;">
            <img src="assets/ali.png" alt="ali">
          </div>
        </div>
      </div>
      <div [ngClass]="{'col-md-4 invisible': !showJami, 'col-md-4 visible': showJami}" style="height:550px;">
        <div [ngClass]="{'animated fadeInLeft': showJami}" #jami>
          <div class="about-img" style="width: 300px; height: 300px;">
            <img src="assets/jami.png" alt="jami">
          </div>
        </div>
      </div>
      <div [ngClass]="{'col-md-4 invisible': !showSaba, 'col-md-4 visible': showSaba}" style="height:550px;">
        <div [ngClass]="{'animated fadeInLeft': showSaba}" #pres>
          <div class="about-img">
            <img src="assets/saba.png" alt="saba" style="height: 437px; width: 300px;">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div [ngClass]="{'col-md-4 invisible': !showZain, 'col-md-4 visible': showZain}" style="height:550px;">
            <div [ngClass]="{'animated fadeInLeft': showZain}" #zain>
              <div class="about-img" style="width: 300px; height: 300px;">
                <img src="assets/zain.jpg" alt="zain">
              </div>
            </div>
          </div>
    </div>

  </div>
  <!-- container -->
</div>
<!-- /About -->

<!-- Call To Action -->
<div id="cta" class="section">

  <!-- Backgound Image -->
  <div class="bg-image bg-parallax overlay" style="background-image:url(../../assets/register2.jpg)"></div>
  <!-- /Backgound Image -->

  <!-- container -->
  <div class="container">

    <!-- row -->
    <div class="row">

      <div class="col-md-6">
        <h2 class="white-text">Deadline to apply for ROTMUN 2018 is September 25, 2018</h2>
        <a class="main-button icon-button" routerLink="/register">Register Now</a>
      </div>

    </div>
    <!-- /row -->

  </div>
  <!-- /container -->

</div>
<!-- /Call To Action -->

<!-- Why us -->
<div id="why-us" class="section">

  <!-- container -->
  <div class="container">

    <!-- row -->
    <div class="row">
      <div class="section-header text-center">
        <h2>Why ROTMUN</h2>
        <p class="lead">Rotaract Model United Nations is one the oldest MUNs based out of Karachi</p>
      </div>

      <!-- feature -->
      <div class="col-md-4">
        <div class="feature">
          <i class="feature-icon fa fa-flask"></i>
          <div class="feature-content">
            <h4>Core Focus</h4>
            <p>Our core focus has always been about the issues that our world faces;
              with determination and resolve, we help students formulate practical solutions to those issues.</p>
          </div>
        </div>
      </div>
      <!-- /feature -->

      <!-- feature -->
      <div class="col-md-4">
        <div class="feature">
          <i class="feature-icon fa fa-users"></i>
          <div class="feature-content">
            <h4>Committee Chairs</h4>
            <p>ROTMUN boasts a diverse group of highly experienced committee chairs who understand their
              particular committee domain and ensure an unforgettable experience.</p>
          </div>
        </div>
      </div>
      <!-- /feature -->

      <!-- feature -->
      <div class="col-md-4">
        <div class="feature">
          <i class="feature-icon fa fa-comments"></i>
          <div class="feature-content">
            <h4>Community</h4>
            <p>ROTMUN brings together students from all over the city representing diverse institutions 
            and backgrounds to collaborate towards the common goal of impacting our global comminities.</p>
          </div>
        </div>
      </div>
      <!-- /feature -->

    </div>
    <!-- /row -->

    <hr class="section-hr">

    <!-- row -->
    <div class="row">

      <div class="col-md-6">
        <h3>Venue: Institute of Business Administration, City Campus</h3>
        <!-- <p class="lead">Libris vivendo eloquentiam ex ius, nec id splendide abhorreant.</p> -->
        <p>The Institute of Business Administration is one of the oldest educational institutions
          of Pakistan and one of the first business schools in Asia. Modeled after the Wharton business
          school of the University of Pennsylvania, IBA has produced some of the most prominent business
          leaders of Pakistan. The city campus is located in the heart of Saddar, Karachi, with its Aman Tower
          looming over the MA Jinnah road, one of the busiest areas of the city. The campus is purpose builr
          and houses numerous classrooms and lecture halls, a state of the art library and the JS Bank
          auditorium, that can house more than 400 people.
        </p>
      </div>

      <div class="col-md-5 col-md-offset-1">
        <a class="about-img" href="#">
          <img src="assets/js.png" alt="">
        </a>
      </div>

    </div>
    <!-- /row -->

  </div>
  <!-- /container -->

</div>
<!-- /Why us -->

<agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

<app-footer></app-footer>

<!-- preloader -->
<div id='preloader'><div class='preloader'></div></div>
<!-- /preloader -->
