<app-navbar></app-navbar>
<!-- Backgound Image -->
<!-- <div class="bg-image bg-parallax overlay"></div> -->
<!-- /Backgound Image -->
<div class="gradient" style="padding-top: 100px;">
  <div class="row" style="padding: 50px">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 smallfont" style="color: white; text-align: center;">
      <h1><strong>Registration Instructions:</strong></h1>
      <p>Registration fee for <strong>private delegates</strong> is <strong>3000 PKR</strong>. Private delegates need to fill their
        details in Head Delegate fields and submit, without adding any additional delegates. Simply add "private" to both delegation name and school/institution fields</p>
      <p><strong>EARLY BIRD DISCOUNT: 2700 PKR FOR PRIVATE DELEGATE AND 2500 PKR FOR DELEGATES IN DELEGATION WITH NO DELEGATION FEE</strong></p>
      <p>Registration fee for delegation is as follows: <strong>2500 PKR per individual delegate</strong> including
        head delegate and <strong>2000 PKR delegation fee</strong>.</p>
      <p>Minimum number of delegates in a delegation is 4 and maximum is 10. All head delegates/private delegates will be sent an automated email with their delegation's (or personal in case of private delegate) receipt. Please check spam if the email does
        not appear in your inbox.</p>
      <p>Payments are to be deposited in the bank account given below. <strong>Do not bring your email receipt to the bank for deposit.</strong></p>
        <p><strong>MAKE SURE TO KEEP DEPOSIT SLIP COPY OF BANK PAYMENT WITH YOU AND BRING IT ON THE FIRST DAY OF THE CONFERENCE. YOU MUST ALSO EMAIL A PICTURE OF THE 
            BANK DEPOSIT RECEIPT WITH YOUR NAME AND DELEGATION ID WRITTEN ON THE SLIP TO rotmun2018@gmail.com WITH YOUR DELEGATION ID AS THE SUBJECT IN ORDER TO RECEIVE ALLOCATIONS RIGHT AFTER YOU MAKE THE PAYMENT.</strong>
      </p>
      <p>Title: <strong>Rotary Club of Karachi Mid City</strong></p>
      <p>Account: <strong>1001-0081-155678-01-6</strong></p>
      <p><strong>Bank Al Habib Main Branch</strong></p>
      <p>For pay order, the benificiary will be <strong>"ROTARY CLUB OF KARACHI MID CITY"</strong></p>
    </div>
  </div>
  <div class="row" style="padding: 50px">
    <div class= "col-sm-3">
    </div>
    <div class="col-sm-6" style="color:white;">
      <form [formGroup]="regForm" class="myform">
        <div class="form-group">
            <h1 class="white-text">Registration Form</h1>
          <input type="text" class="form-control" placeholder="Delegation Name" formControlName="delegation">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="School/Institution" formControlName="institution">
        </div>
        <br>
        <div class="form-group">
            <label class="control-label">Head Delegate/Private Delegate</label>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Full Name" formControlName="headDelName">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Email Address" formControlName="headDelEmail">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Phone Number" formControlName="headDelPhone">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="CNIC/Bay Form Number" formControlName="headDelCnic">
        </div>
        <div class="form-group">
            <label class="control-label">Date of Birth</label>
            <input type="date" class="form-control" placeholder="Date of Birth" formControlName="headDelDob">
        </div>
        <div class="form-group">
          <select class="form-control" formControlName="headDelPref1">
            <option [ngValue]="null" disabled>Committee Preference 1</option>
            <option *ngFor="let committee of committees; let i=index" [ngValue]="committee">
              {{committee}}
            </option>
          </select>
        </div>
        <div class="form-group">
            <select class="form-control" formControlName="headDelPref2">
              <option [ngValue]="null" disabled>Committee Preference 2</option>
              <option *ngFor="let committee of committees; let i=index" [ngValue]="committee">
                {{committee}}
              </option>
            </select>
        </div>
        <div class="form-group">
          <label class="control-label">Faculty Adviser (Optional)</label>
          <input type="text" class="form-control" placeholder="Facutly Advisor Name" formControlName="facultyName">          
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Facutly Advisor Phone Number" formControlName="facultyPhone">
        </div>
        <br>
        <div class="form-group">
          <label class="control-label">Delegates</label>
        </div>
        <div class="form-group animated fadeInDown" *ngFor="let delegate of regForm.get('delegatesControl')['controls']; let i=index">
          <div formArrayName="delegatesControl">
              <form [formGroupName]="i">
                  <div class="form-group">
                    <h3>Delegate {{i+2}}</h3>
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Full Name" formControlName="delName">
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Email Address" formControlName="delEmail">
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Phone Number" formControlName="delPhone">
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="CNIC/Bay Form Number" formControlName="delCnic">
                  </div>
                  <div class="form-group">
                      <label class="control-label">Date of Birth</label>
                      <input type="date" class="form-control" placeholder="Date of Birth" formControlName="delDob">
                  </div>
                  <div class="form-group">
                    <select class="form-control" formControlName="delPref1">
                      <option [ngValue]="null" disabled>Committee Preference 1</option>
                      <option *ngFor="let committee of committees; let i=index" [ngValue]="committee">
                        {{committee}}
                      </option>
                    </select>
                  </div>
                  <div class="form-group">
                      <select class="form-control" formControlName="delPref2">
                        <option [ngValue]="null" disabled>Committee Preference 2</option>
                        <option *ngFor="let committee of committees; let i=index" [ngValue]="committee">
                          {{committee}}
                        </option>
                      </select>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-success" type="button" (click)="removeDelegate(i)">Remove</button>
                  </div>
              </form>
              <br>
          </div>
        </div>
        <div class="col-md-6" style="padding: 0px">
          <button class="btn btn-success" type="button" (click)="addDelegate()">Add Delegates</button>
        </div>
        <div class="text-right">
            <button [disabled]="!regForm.valid" class="btn btn-primary" type="submit" (click)="submit()">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>
<div id='preloader'><div class='preloader'></div></div>
<app-footer></app-footer>