@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
.FixedHeightContainer {
  float:right;
  height: 642px;
  width:510px; 
  padding:10px;
}
.Content {
  height:510px;
   overflow:auto;
}
.gradient {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#374050), to(#798696));
	background-image: linear-gradient(to bottom, #374050 0%, #798696 100%);
}