<app-navbar></app-navbar>
<!-- Backgound Image -->
<div class="bg-image bg-parallax overlay" style="background-image:url('../../assets/ibacity.jpg')"></div>
<!-- /Backgound Image -->
<div class="jumbotron" style="padding-top: 100px;">
  <div class="row">
    <div class= "col-sm-3">
    </div>
    <div class="col-sm-6 FixedHeightContainer" style="color:white;">
      <form [formGroup]="regForm" class="Content">
        <div class="form-group">
            <h1 class="white-text">Registration Form</h1>
          <input type="text" class="form-control" placeholder="Delegation Name" formControlName="delegation">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="School/Institution" formControlName="institution">
        </div>
        <br>
        <div class="form-group">
            <label class="control-label">Head Delegate/Private Delegate</label>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Full Name" formControlName="headDelName">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Email Address" formControlName="headDelEmail">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Phone Number" formControlName="headDelPhone">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="CNIC/Bay Form Number" formControlName="headDelCnic">
        </div>
        <div class="form-group">
            <label class="control-label">Date of Birth</label>
            <input type="date" class="form-control" placeholder="Date of Birth" formControlName="headDelDob">
        </div>
        <div class="form-group">
          <select class="form-control" formControlName="headDelPref1">
            <option [ngValue]="null" disabled>Committee Preference 1</option>
            <option *ngFor="let committee of committees; let i=index" [ngValue]="committee">
              {{committee}}
            </option>
          </select>
        </div>
        <div class="form-group">
            <select class="form-control" formControlName="headDelPref2">
              <option [ngValue]="null" disabled>Committee Preference 2</option>
              <option *ngFor="let committee of committees; let i=index" [ngValue]="committee">
                {{committee}}
              </option>
            </select>
        </div>
        <br>
        <div class="form-group">
          <label class="control-label">Delegates</label>
        </div>
        <div class="form-group" *ngFor="let delegate of regForm.get('delegatesControl')['controls']; let i=index">
          <div formArrayName="delegatesControl">
              <form [formGroupName]="i">
                  <div class="form-group">
                    <h3>Delegate {{i+1}}</h3>
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Full Name" formControlName="delName">
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Email Address" formControlName="delEmail">
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Phone Number" formControlName="delPhone">
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="CNIC/Bay Form Number" formControlName="delCnic">
                  </div>
                  <div class="form-group">
                      <label class="control-label">Date of Birth</label>
                      <input type="date" class="form-control" placeholder="Date of Birth" formControlName="delDob">
                  </div>
                  <div class="form-group">
                    <select class="form-control" formControlName="delPref1">
                      <option [ngValue]="null" disabled>Committee Preference 1</option>
                      <option *ngFor="let committee of committees; let i=index" [ngValue]="committee">
                        {{committee}}
                      </option>
                    </select>
                  </div>
                  <div class="form-group">
                      <select class="form-control" formControlName="delPref2">
                        <option [ngValue]="null" disabled>Committee Preference 2</option>
                        <option *ngFor="let committee of committees; let i=index" [ngValue]="committee">
                          {{committee}}
                        </option>
                      </select>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-success" type="button" (click)="removeDelegate(i)">Remove</button>
                  </div>
              </form>
              <br>
          </div>
        </div>
        <div class="col-md-6" style="padding: 0px">
          <button class="btn btn-success" type="button" (click)="addDelegate()">Add Delegate</button>
        </div>
        <div class="text-right">
            <button [disabled]="!regForm.valid" class="btn btn-primary" type="submit" (click)="submit()">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>
<div id='preloader'><div class='preloader'></div></div>

<!-- Footer -->
<footer id="footer" class="section">

    <!-- container -->
    <div class="container">
  
      <!-- row -->
      <div class="row">
  
        <!-- footer logo -->
        <div class="col-md-6">
          <div class="footer-logo">
            <a class="logo" href="index.html">
              <img src="assets/edusite/img/logo.png" alt="logo">
            </a>
          </div>
        </div>
        <!-- footer logo -->
  
        <!-- footer nav -->
        <div class="col-md-6">
          <ul class="footer-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
        <!-- /footer nav -->
  
      </div>
      <!-- /row -->
  
      <!-- row -->
      <div id="bottom-footer" class="row">
  
        <!-- social -->
        <div class="col-md-4 col-md-push-8">
          <ul class="footer-social">
            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#" class="youtube"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
        <!-- /social -->
  
        <!-- copyright -->
        <div class="col-md-8 col-md-pull-4">
          <div class="footer-copyright">
            <span>&copy; Copyright 2018. This website was made real quick by <a href="https://www.facebook.com/OmerFA">Omer Farooq Ahmed</a><br>
              &copy; Copyright 2018. All Rights Reserved. | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com">Colorlib</a></span>
          </div>
        </div>
        <!-- /copyright -->
  
      </div>
      <!-- row -->
  
    </div>
    <!-- /container -->
  
  </footer>
  <!-- /Footer -->